𝐁𝐚𝐬𝐢𝐜 𝐒𝐐𝐋 𝐂𝐨𝐧𝐜𝐞𝐩𝐭𝐬:

1. What is SQL, and why is it important in data analytics?

SQL (Structured Query Language) is a standard programming language used to manage and manipulate relational databases. It is essential in data analytics because it allows analysts to:

1. Retrieve and filter large datasets efficiently.
2. Perform operations like sorting, grouping, and aggregating data.
3. Join multiple tables to extract meaningful insights.
4. Insert, update, and delete records in databases.

2. Explain the difference between INNER JOIN, LEFT JOIN, RIGHT JOIN, and FULL OUTER JOIN.

INNER JOIN: Returns only the rows where there is a match in both tables.

LEFT JOIN: Returns all rows from the left table and matched rows from the right table. Unmatched rows in the right table will have NULL values.

RIGHT JOIN: Returns all rows from the right table and matched rows from the left table. Unmatched rows in the left table will have NULL values.

FULL OUTER JOIN: Returns rows when there is a match in one of the tables and includes unmatched rows from both tables with NULL for missing data.

In [ ]:
-- Assume two tables: Employees and Departments
SELECT Employees.Name, Departments.DeptName
FROM Employees
INNER JOIN Departments
ON Employees.DeptID = Departments.DeptID;

SELECT Employees.Name, Departments.DeptName
FROM Employees
left JOIN Departments
ON Employees.DeptID = Departments.DeptID;

3. What is the difference between WHERE and HAVING clauses?

WHERE: Filters rows before any grouping is performed.

HAVING: Filters grouped records after an aggregation is applied.

In [ ]:
-- WHERE example: Filter rows before grouping
SELECT * FROM Sales WHERE Price > 500;

-- HAVING example: Filter grouped results
SELECT ProductID, SUM(Quantity) AS TotalQuantity
FROM Sales
GROUP BY ProductID
HAVING SUM(Quantity) > 100;

4. How do you use GROUP BY and HAVING in a query?

GROUP BY groups rows with the same values into summary rows.

HAVING applies conditions to groups created by GROUP BY.

In [ ]:
SELECT Department, COUNT(EmployeeID) AS EmployeeCount
FROM Employees
GROUP BY Department
HAVING COUNT(EmployeeID) > 10;

5. Write a query to find duplicate records in a table.

In [ ]:
SELECT Column1, Column2, COUNT(*)
FROM TableName
GROUP BY Column1, Column2
HAVING COUNT(*) > 1;

6. How do you retrieve unique values from a table using SQL?
Use the DISTINCT keyword. Example:

In [ ]:
SELECT DISTINCT ColumnName FROM TableName;

7. Explain the use of aggregate functions like COUNT(), SUM(), AVG(), MIN(), and MAX().

Aggregate functions perform calculations on a set of values and return a single value:

COUNT(): Counts the number of rows.

SUM(): Calculates the total sum.

AVG(): Finds the average value.

MIN(): Retrieves the smallest value.

MAX(): Retrieves the largest value.

In [ ]:
SELECT
    COUNT(*) AS TotalRows,
    SUM(Salary) AS TotalSalary,
    AVG(Salary) AS AverageSalary,
    MIN(Salary) AS MinimumSalary,
    MAX(Salary) AS MaximumSalary
FROM Employees;

8. What is the purpose of the DISTINCT keyword in SQL? Explain with queries.
The DISTINCT keyword removes duplicate rows from the result set and returns unique values.

In [ ]:
SELECT DISTINCT Department FROM Employees;

𝐈𝐧𝐭𝐞𝐫𝐦𝐞𝐝𝐢𝐚𝐭𝐞 𝐒𝐐𝐋:

1. Write a query to find the second-highest salary from an employee table.

In [ ]:
SELECT MAX(Salary) AS SecondHighestSalary
FROM Employees
WHERE Salary < (SELECT MAX(Salary) FROM Employees);

Explanation:

The inner query (SELECT MAX(Salary) FROM Employees) finds the highest salary.

The outer query finds the maximum salary below the highest, giving the second-highest salary.

2. What are subqueries, and how do you use them?
Subqueries are nested queries used inside another SQL query. They can return single values, multiple values, or entire tables and are used for filtering, calculations, or data transformation.

Example:

Find employees earning more than the average salary:

In [ ]:
SELECT Name, Salary
FROM Employees
WHERE Salary > (SELECT AVG(Salary) FROM Employees);

Explanation: The subquery (SELECT AVG(Salary) FROM Employees) calculates the average salary, and the main query retrieves employees whose salary is above this value

3. What is a Common Table Expression (CTE)? Give an example of when to use it.
A Common Table Expression (CTE) is a temporary result set that exists for the duration of a query. It is defined using the WITH keyword and is useful for improving readability and reusing result sets.

In [ ]:
WITH EmployeeCTE AS (
    SELECT EmployeeID, Department, Salary
    FROM Employees
    WHERE Salary > 5000
)
SELECT Department, COUNT(EmployeeID) AS HighEarners
FROM EmployeeCTE
GROUP BY Department;

When to use:

When a query is complex and involves multiple temporary results.

When you need to reuse a query result multiple times within a query.

4. Explain window functions like ROW_NUMBER(), RANK(), and DENSE_RANK().
Window functions operate on a subset of rows (a "window") defined by the OVER clause.

ROW_NUMBER(): Assigns a unique rank to each row within the window. No ties.

RANK(): Assigns ranks with gaps for ties.

DENSE_RANK(): Assigns ranks without gaps for ties.

In [ ]:
SELECT Name, Department, Salary,
    ROW_NUMBER() OVER (PARTITION BY Department ORDER BY Salary DESC) AS RowNumber,
    RANK() OVER (PARTITION BY Department ORDER BY Salary DESC) AS Rank,
    DENSE_RANK() OVER (PARTITION BY Department ORDER BY Salary DESC) AS DenseRank
FROM Employees;

Explanation:

ROW_NUMBER(): Consecutive numbers regardless of ties.

RANK(): Skips numbers after ties.

DENSE_RANK(): No skipped numbers.

5. How do you combine results of two queries using UNION and UNION ALL?

UNION: Combines results from two queries and removes duplicates.

UNION ALL: Combines results from two queries without removing duplicates.

In [ ]:
-- UNION: Removes duplicates
SELECT Name FROM Employees
UNION
SELECT Name FROM Contractors;

-- UNION ALL: Keeps duplicates
SELECT Name FROM Employees
UNION ALL
SELECT Name FROM Contractors;

Use Case:

Use UNION when duplicates are irrelevant.

Use UNION ALL for better performance if duplicates are acceptable.

6. What are indexes in SQL, and how do they improve query performance?
An index is a data structure that improves the speed of data retrieval operations in a table by maintaining a sorted order of columns.

Benefits:

Faster SELECT queries, especially for large datasets.

Efficient searching and filtering with WHERE, JOIN, and ORDER BY.

In [ ]:
CREATE INDEX idx_employee_name ON Employees (Name);

Consideration:

Indexes improve SELECT performance but may slow down INSERT, UPDATE, and DELETE operations.

7. Write a query to calculate the total sales for each month using GROUP BY. Explain in detail.

In [ ]:
SELECT
    YEAR(SaleDate) AS Year,
    MONTH(SaleDate) AS Month,
    SUM(SaleAmount) AS TotalSales
FROM Sales
GROUP BY YEAR(SaleDate), MONTH(SaleDate)
ORDER BY Year, Month;

Explanation:

YEAR(SaleDate) and MONTH(SaleDate): Extract the year and month from the SaleDate column.

SUM(SaleAmount): Calculates the total sales for each group (month).

GROUP BY YEAR(SaleDate), MONTH(SaleDate): Groups the data by year and month.

ORDER BY Year, Month: Sorts the results in chronological order.

𝐀𝐝𝐯𝐚𝐧𝐜𝐞𝐝 𝐒𝐐𝐋:

1. How do you optimize a slow-running SQL query?
To optimize a slow-running SQL query, consider the following techniques:

1. Indexes:

Use indexes on frequently queried columns, especially those in WHERE, JOIN, and

ORDER BY clauses.

Example: CREATE INDEX idx_column_name ON TableName (ColumnName);

2. Avoid SELECT*:

Select only necessary columns instead of using SELECT *.
3. Analyze Query Execution Plan:

Use EXPLAIN or EXPLAIN ANALYZE to understand how the query is executed and identify bottlenecks.
4. Use Proper Joins:

Choose the appropriate join type (e.g., INNER JOIN vs. OUTER JOIN).
5. Limit Result Sets:

Use LIMIT to reduce the number of rows returned when testing or fetching top records.
6. Filter Early:

Apply WHERE conditions to reduce data size before grouping or joining.
7. Optimize Subqueries:

Convert subqueries to JOIN or use Common Table Expressions (CTEs).
8. Partitioning:

Use table partitioning to manage large datasets more efficiently.
9. Avoid Functions in WHERE Clauses:

Avoid wrapping columns in functions (e.g., WHERE YEAR(DateColumn) = 2023) as it may prevent index usage.

2. What are views in SQL, and when would you use them?

A view is a virtual table based on a SQL query. It does not store data but provides a way to encapsulate complex queries for easy reuse.

When to use views:

Simplify complex queries.

Provide abstraction for security by limiting access to underlying tables.

Improve code readability and maintainability.

In [ ]:
CREATE VIEW EmployeeSalaries AS
SELECT Name, Department, Salary
FROM Employees
WHERE Salary > 5000;

-- Use the view
SELECT * FROM EmployeeSalaries;

3. What is the difference between a stored procedure and a function in SQL?

1. Purpose:

Stored Procedure: Used to perform a series of operations such as modifying data, running queries, or invoking other procedures.
Function: Designed to return a single value or table and is typically used for computations.
2. Return Type:

Stored Procedure: Can return multiple values via OUT parameters but does not have a direct return statement.
Function: Must return a value or table using a RETURN statement.
3. Usage in SQL Queries:

Stored Procedure: Cannot be called directly in a SELECT, WHERE, or other SQL clauses.
Function: Can be used directly in SELECT, WHERE, GROUP BY, etc.
4. Transaction Control:

Stored Procedure: Supports transaction control commands (BEGIN, COMMIT, ROLLBACK) within its body.
Function: Does not support transaction control.

In [ ]:
--Example Stored Procedure:

CREATE PROCEDURE UpdateSalary (IN EmployeeID INT, IN Increment INT)
BEGIN
    UPDATE Employees
    SET Salary = Salary + Increment
    WHERE ID = EmployeeID;
END;

In [ ]:
--Example Function:

CREATE FUNCTION GetAverageSalary() RETURNS DECIMAL(10, 2)
BEGIN
    RETURN (SELECT AVG(Salary) FROM Employees);
END;

4. Explain the difference between TRUNCATE, DELETE, and DROP commands.

TRUNCATE: For removing all rows quickly without logging individual deletions.

DELETE: For fine-grained deletion with conditions and logging.

DROP: For completely removing the table or database from the system.

In [ ]:
TRUNCATE TABLE Employees; -- Removes all rows.
DELETE FROM Employees WHERE Department = 'HR'; -- Removes specific rows.
DROP TABLE Employees; -- Removes the table.

5. What Are Windowing Functions, and How Are They Used in Analytics?

Windowing Functions are SQL functions that operate on a subset of rows (referred to as a "window") and return a value for each row within that subset. Unlike aggregate functions, which collapse rows into a single result, window functions preserve the individual rows while providing additional insights.

Uses in Analytics:

Ranking: Assign ranks to rows based on a specific order (e.g., RANK(), DENSE_RANK()).

Aggregations: Calculate running totals, averages, and other cumulative metrics.
Offsets: Retrieve values from preceding or following rows (LAG(), LEAD()).

Percentiles: Calculate distribution-based statistics like percentiles.

Example:
Calculate the cumulative salary for employees:

In [ ]:
SELECT
    EmployeeID,
    Department,
    Salary,
    SUM(Salary) OVER (PARTITION BY Department ORDER BY EmployeeID) AS CumulativeSalary
FROM Employees;

6. How Do You Use PARTITION BY and ORDER BY in Window Functions?

PARTITION BY: Divides the dataset into partitions or groups for window functions to operate on independently.

ORDER BY: Defines the order of rows within each partition for window calculations.

In [ ]:
--Using PARTITION BY Only: Calculate the total salary for each department:

SELECT
    EmployeeID,
    Department,
    Salary,
    SUM(Salary) OVER (PARTITION BY Department) AS TotalDepartmentSalary
FROM Employees;

In [ ]:
--Using Both PARTITION BY and ORDER BY: Calculate the rank of employees by salary within each department:

SELECT
    EmployeeID,
    Department,
    Salary,
    RANK() OVER (PARTITION BY Department ORDER BY Salary DESC) AS RankInDepartment
FROM Employees;

7. How Do You Handle NULL Values in SQL, and What Functions Help With That?
Handling NULL Values is crucial in SQL to avoid incorrect results in calculations and comparisons. Several functions and techniques are available:

Functions to Handle NULLs:
COALESCE():

Returns the first non-NULL value from the arguments provided.

In [ ]:
SELECT COALESCE(PhoneNumber, 'Not Available') AS PhoneNumber
FROM Employees;

ISNULL() (SQL Server):

Replaces NULL with a specified value.
Example:

In [ ]:
SELECT ISNULL(Salary, 0) AS Salary
FROM Employees;

IFNULL() (MySQL):

Replaces NULL with a specified value.
Example:

In [ ]:
SELECT IFNULL(Bonus, 0) AS Bonus
FROM Employees;

Handling NULLs in Conditions:
Use IS NULL and IS NOT NULL for filtering:

In [ ]:
SELECT * FROM Employees WHERE Bonus IS NULL;

LAG and LEAD Functions in SQL

The LAG and LEAD functions are window functions that allow you to access data from a previous or subsequent row, respectively, within the same result set.

1. LAG Function
The LAG function fetches data from a row before the current row in the same result set.

In [ ]:
LAG(column_name, offset, default_value) OVER (PARTITION BY column_name ORDER BY column_name)

column_name: The column to retrieve the value from.

offset: The number of rows before the current row (default is 1).

default_value: The value to return if no preceding row exists (optional).

In [ ]:
--Get the previous month's sales for each row:

SELECT
    Month,
    Sales,
    LAG(Sales, 1, 0) OVER (ORDER BY Month) AS PreviousMonthSales
FROM SalesData;

2. LEAD Function
The LEAD function fetches data from a row after the current row in the same result set.

In [ ]:
--Get the next month's sales for each row:
SELECT
    Month,
    Sales,
    LEAD(Sales, 1, 0) OVER (ORDER BY Month) AS NextMonthSales
FROM SalesData;